.button {
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 8 15 8 15;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 4, 0.5, 0, 2);
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.8), 8, 0.2, 0, 4);
}
